<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mushrooms</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>
<body ng-app="ShroomSorter">
  <div ng-controller="ShroomCtrl">
    <br>
    <hr>
    <br>
    <div ng-view></div>
    <input type="text" ng-model="shroomName"/>
    <input type="radio" ng-model="mushroom.edible" name="isItPoison" ng-click="{{isItPoison=true}}">Poison
    <input type="radio" ng-model="mushroom.edible" name="isItPoison" ng-click="{{isItPoison=true}}">Non-Poison
    <!-- filter: {edible: isItPoison} |  -->
    <!-- - filter: shroomName -->
    <ul>
      <li  ng-repeat="mushroom in mushroomList | filter: {edible: false}">
        {{mushroom.name}} - {{mushroom.edible}} 
      </li>
    </ul>
  </div>
  <script src="app.js"></script>
</body>
</html>